{% extends 'base.html.twig' %}

{% block title %}Mon compte - la boutique française {% endblock %}

{% block content %}
    

    <h1> Modifier mon mot de passe </h1>
    <a href='{{path('app_account')}}' class='m-2'>Retourner à mon compte</a>
    
    <hr>
    {% if notification %}
         <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
        {{form (form)}}
    <hr>

{% endblock %}
